@import "variables"

body
  background: $base-color
  color: $complement-color
  font-family: 'Nunito sans', sans-serif

a
  color: $primary-color

  &:visited
    color: lighten($primary-color, 10%)

.console
  font-family: monospace

  .userhost
    color: lighten($accent-color, 50%)

  label
    display: none

  ol
    display: inline
    padding: 0

    li
      display: inline
      margin-left: -5px

  input
    background: $base-color
    border: none
    color: $complement-color
    font-family: monospace

    &:focus
      outline: none

.page
  display: flex
  flex-direction: column
  justify-content: space-around
  margin-top: 100px

  main
    width: 70%
    padding: 20px
    margin: 30px auto
    border-radius: 6px
    border: 1px solid darken($complement-color, 30%)
    min-height: 50vh

  .logo
    width: 6em
    margin: auto

  @media (min-width: 671px)
    nav
      margin: auto

      ol
        display: inline

        li
          display: inline
          list-style: none

          a
            margin: 0 5px
            display: inline
            position: relative
            text-decoration: none

            span
              top: 20px
              right: -50%
              padding: 5px
              width: 100px
              position: absolute
              visibility: hidden
              text-align: center
              color: $base-color
              border-radius: 5px
              background-color: lighten($complement-color, 15%)

              &::after
                content: " "
                position: absolute
                bottom: 100%
                left: 50%
                margin-left: -5px
                border-width: 5px
                border-style: solid
                border-color: transparent transparent lighten($complement-color, 15%) transparent

          &:hover
            span
              visibility: visible

  @media (max-width: 670px)
    nav
      position: fixed
      top: 0
      left: 0
      z-index: 2
      width: 100%
      height: 100vh
      transition: width 0.5s, height 0.5s, transform 0.5s
      transform: translateY(100%)

      &.opened
        transform: translateY(0)

      ol
        margin: 0
        padding: 10px 0 0 0
        display: flex
        height: 100vh
        background: rgba($base-color, 0.85)
        flex-direction: row
        flex-wrap: wrap
        align-content: flex-start

        li
          list-style: none
          display: inline-block
          margin: 10px

          a
            display: inline-flex
            text-decoration: none
            flex-direction: column
            justify-content: center

            img
              align-self: center

            span
              align-self: center
              width: 100px
              text-align: center
    main
      padding-bottom: 45px

footer
  bottom: 0
  left: 0
  position: fixed
  width: 100%
  padding: 10px
  background: darken($accent-color, 15%)
  @media (max-width: 640px)
    left: 0
    display: none
    &.visible
      display: block


.my-picture
  float: left
  width: 13em
  margin-right: 25px
  border-radius: 50%

.menu-container
  display: none
  z-index: 4
  @media (max-width: 640px)
    display: block
    width: 100%
    position: fixed
    bottom: 20px
    text-align: center


.btn-menu
  width: 4em
  @media (max-width: 640px)
    background: $base-color
    border-radius: 50%
    padding: 5px

@mixin box($icon, $color)
  background: lighten($color, 10%)
  border: 1px solid darken($color, 10%)
  border-radius: 8px
  color: $base-color
  padding: 25px
  display: flex
  &::before
    content: url($icon)
    margin-right: 12px

.note
  @include box("/static/images/info-icon.png", $primary-color)

.warning
  @include box("/static/images/warning-icon.png", $warning-color)

.danger
  @include box("/static/images/error-icon.png", $error-color)

img
  &.full-screen
    width: 100%
  &.small
    width: 30em
  &.smallest
    width: 15em

.center
  text-align: center