---
layout: default
customcss: folder
---

<h1>{{ page.title }}</h1>

{{content}}

<div class="list-container">
    {% for post in site.posts %}
    <div class="list-element">
        <a href="{{ post.url }}" class="content-image">
            <img src="/static/images/blog-icon.png" alt=""/>
        </a>
        <div class="list-descriptor">
            <a href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
            </a>
            <p>
                {{ post.excerpt }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
