---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="console">
    <span class="userhost">guest@ldsoftware.it:</span>
    <ol>
        <li><a href="/">~</a></li>
        {% if page.permalink %}
            {% assign slugs = page.permalink | remove_first: "/" | split: "/" %}
        {% elsif page.id %}
            {% assign slugs = page.id | remove_first: "/" | split: "/" %}
        {% endif %}
        {% assign link = "/" %}
        {% for slug in slugs %}
            {% assign link = link | append: slug | append: "/" %}
            <li><a href="{{link}}">/{{ slug }}</a></li>
        {% endfor %}
    </ol>
    $
    <label for="prompt">Write a command!</label>
    <input type="text" id="prompt" autocomplete="off" autofocus/>
</div>

<div class="page">

    <a class="logo" href="/">
        <img class="logo" src="{{ '/static/logos/lds_green.png' | prepend: site.baseurl  }}" alt="Back to the home page"/>
    </a>

    <nav id="drawer">
        <ol>
            {% for content in site.data.root %}
            <li>
                <a href="/{{ content.permalink }}">
                    <img class="category" src="{{ content.icon }}" alt="{{ content.description }}"/>
                    <span>
                        {{ content.name }}
                    </span>
                </a>
            </li>
            {% endfor %}
            {% if site.github_username %}
            <li>
                <a href="https://github.com/{{ site.github_username }}" target="_blank">
                    <img class="category" src="/static/images/github-icon.png" alt="My page on GitHub"/>
                    <span>
                        GitHub
                    </span>
                </a>
            </li>
            {% endif %}
            {% if site.linkedin_username %}
            <li>
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                    <img class="category" src="/static/images/linkedin-icon.png" alt="My LinkedIN profile"/>
                    <span>
                        LinkedIN
                    </span>
                </a>
            </li>
            {% endif %}
        </ol>
    </nav>
    <div class="menu-container">
        <img class="btn-menu" id="btnMenu" src="/static/images/menu-icon.png" alt="Open menu" />
    </div>

    <main>
        {{ content }}
    </main>

</div>

<footer>
    &copy; Luca Di Stefano 2019, last update {{ site.last_update }}. Read the <a href="/about">cookie and privacy
    policy</a>
</footer>
{% include scripts.html %}
</body>

</html>
