---
layout: default
customcss: folder
---
<h1>{{ page.title }}</h1>

{{content}}

<div class="list-container">
    {% for sub in site.data[page.folderName] %}
    <div class="list-element">
        <a href="{{ sub.permalink }}" class="content-image">
            <img src="{{ sub.icon }}" alt="{{ sub.name }}"/>
        </a>
        <div class="list-descriptor">
            <a href="{{ sub.permalink }}">
                <h2>{{ sub.name }}</h2>
            </a>
            <p>
                {{ sub.description }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
